<!-- public/index.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Starter Node and Angular</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/bower_components/angular-route/angular-route.min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="assets/app.js"></script>
    <!-- TODO: MINIFIY JS -->
    <script src="assets/javascripts/directives.user.login.js"></script>
    <script src="assets/javascripts/directives.project.index.js"></script>

  </head>
  <body ng-app="projectApp" ng-controller="MainController">
<!--     <img style="text-align: center" src="https://whub-assets.s3.amazonaws.com/uploads/logo/file/564c2e02ffe57e0003000409/LYNK-RGB_Logo-FA-Colour-02.png"> -->
    <div ng-view>

    </div>
  </body>
</html>
