<!-- public/index.html -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Starter Node and Angular</title>

    <!-- CSS -->
    <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css"> <!-- custom styles -->

    <!-- JS -->
    <script src="assets/bower_components/angular/angular.min.js"></script>
    <script src="assets/bower_components/angular-route/angular-route.min.js"></script>
    <script src="assets/bower_components/underscore/underscore-min.js"></script>

    <!-- ANGULAR CUSTOM -->
    <script src="assets/app.js"></script>
    <!-- TODO: MINIFIY JS -->
    <script src="assets/javascripts/directives.user.login.js"></script>
    <script src="assets/javascripts/directives.project.index.js"></script>
    <script src="assets/javascripts/directives.project.show.js"></script>

  </head>
  <body ng-app="projectApp" ng-controller="MainController">
    <div class="container">
      <div id="nav-bar">
        <div id="logo"></div>
        <div>{{email}}</div>
      </div>
      <div ng-view>

      </div>
    </div>
  </body>
</html>
