<project-show>
  <div class="container">
    <h1>Project</h1>

    <form>
        <div>
          Project name:
          <input class="form-control" ng-disabled="!isLoggedIn()" type="text" name="" ng-model="project.name">
        </div>
        <div >
          <div>
            Status:
          </div>
            <label>
              <input  ng-disabled="!isLoggedIn() || isExpired()" type="radio" ng-model="project.status" value="new">
              New
            </label>
            <label>
              <input ng-disabled="!isLoggedIn() || isExpired()" type="radio" ng-model="project.status" value="pending">
              Pending
            </label>
            <label>
              <input ng-disabled="!isLoggedIn() || isExpired()" type="radio" ng-model="project.status" value="finished">
              Finished
            </label>
          </div>
        <div ng-show="project.experts">
          <table>
            <tr>
              <th>Expert</th>
              <th>Status</th>
              <th></th>
              <th></th>
            </tr>
            <tr ng-repeat="expert in project.experts">
              <td>{{expert.name}}</td>
              <td>{{expert.status}}</td>
              <td>
                <a ng-hide="expert.status == 'approved'" 
                   class="btn btn-primary" 
                   ng-disabled="!isLoggedIn()"
                   ng-click="updateExpertStatus($index, 'approved')" >
                  Approve
                </a>
              </td>
              <td>
                <a ng-hide="expert.status == 'rejected'" 
                   class="btn btn-primary" 
                   ng-disabled="!isLoggedIn()" 
                   ng-click="updateExpertStatus($index, 'rejected')">
                  Reject
                </a>
              </td>
              <td>
                <a class="btn btn-danger" 
                   ng-disabled="!isLoggedIn()" 
                   ng-click="removeExpert($index)">
                  remove
                </a>
              </td>
            </tr>

          </table>
          <div style="border-width: 1px;border-style: dotted; height: auto; padding:5px;">
            <input type="text" ng-model="form.newExpert" style="width:40%">
            <a class="btn btn-primary" ng-disabled="!isLoggedIn()" ng-click="addExpert()"> 
              add new Expert
            </a>
          </div>
        </div>
      <div>
        <button ng-disabled="!isLoggedIn()" ng-click="submit()">
          Submit
        </button>
      </div>
    </form>
  </div>
</project-show>