  <div class="container">
    <user-login>

    <h1>Login</h1>
    <form name="form"  ng-submit="submit()"> 
      <div>
        <div> Email: </div>
        <input  class="form-control" ng-model="user.email" type="text" name="email" required>
      </div>
      <div>
        <div> Password: </div>
        <input  class="form-control" ng-model="user.password" type="text" name="password" required>
      </div>
      <div>
        <div style="color:red">{{form.error}}</div>
        <button class="btn btn-md btn-primary btn-block" 
        ng-click="submit()">Submit</button>
      </div>
    </form>
    </user-login>
  </div>