<user-new>
  <div class="container">
    <h1>Sign Up</h1>
    <form name="form" >
      <div>
        <div> Email: </div>
        <input  class="form-control" ng-model="user.email" type="text" name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
         <span ng-show="form.email.$dirty && form.email.$error.pattern" class="help-block">Needs to be valid Email</span>
      </div>
      <div>
        <div> Password: </div>
        <input  class="form-control" ng-model="user.password" type="text" name="password" ng-pattern="/^[a-zA-Z0-9]*$/" minlength="8" required>
         <span ng-show="form.password.$dirty && form.password.$error.pattern" class="help-block">Password needs to be Alphanumeric</span>
      </div>
      <button 
        class="btn btn-md btn-primary btn-block"   ng-click="submit()">Submit</button>
    </form>
  </div>
</user-new>